/* HomePage.css */
@import url("../../fonts/font.css");
.home-page {
  padding: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.f {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 10px;
  color: #1d3455;
}

.card p {
  color: #1d3455;
  margin-bottom: 20px;
  font-family: Poppins;
}
.img {
  border-radius: 50%;
  height: 80px;
  width: auto;
}
.bgimg {
  width: 300px;
}
