.nav-container {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: #25436b;
  padding: 10px;
  justify-content: space-between;
}
.nav-container img {
  height: 60px;
  width: auto;
  border: 2px solid white;
}
.nav {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
